TIANAPI_KEY=xxx
QWEATHER_KEY=xxx
QWEATHER_LOCATION=xxx
SENSOR_INNER_MAC=A4:C1:38:CF:B0:D6
SENSOR_OUTER_MAC=A4:C1:38:D5:05:79
SENSOR_LIVING_MAC=AA:BB:CC:DD:EE:FF
TZ=Asia/Shanghai
WIDGET_CACHE_TTL_MS=600000